<!-- views/listings/index.ejs -->
<%layout('layouts/boilerplate')%>
<body>
    <h3>All Listings</h3>
    <form action="/listings/new" method="GET">
        <button>New Listing</button>
    </form>
    <ul>
        <% for(list of listings) {%>
            <li><a href="/listings/<%=list._id%>"><%=list.title%></a></li>
         <%}%>
    </ul>
 </body>
