<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Users</title>
    <style>
        table,tr,td,th{
            border:2px black solid;
        }
    </style>
</head>
<body>
        <h2>Total Users:-</h2>
        <table>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Button</th>
            </tr>
               <% for (user of users){%>
                <tr>
                <td><%=user.username%></td>
                <td><%=user.email%></td>
               <td> <form action="/users/<%=user.id%>/edit">
                    <button>Edit Username</button>
                </form></td>
            </tr> 
                <%}%>
        </table>
</body>
</html>