<!DOCTYPE html>
<html>
    <head>
        <title>Quora Post</title>
    </head>
    <body>
        <h2>Quora Posts :-</h2>
        <%for(post of posts){%>
        <h3><%=post.username%></h3>
        <p><%=post.content%></p>
        <%}%>
    </body>
</html>