<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new post</title>
</head>
<body>
    <h3>Add new Post :-</h3>
    <form method="post" action="/posts">
        <label for="username">Username : </label>
        <input type="text" id="username" placeholder="Enter Username"name="username"><br><br>
        <label for="content">Content : </label>
        <textarea id="content"placeholder="Enter Content"name="content"></textarea><br><br>
        <button>Submit</button>
    </form>
</body>
</html>