<!--new.ejs-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Create a new post</title>
</head>
<body>
    <h2>Enter new post :-</h2>
    <form method="post" action="/posts">
        <input placeholder="enter username" name="username"> 
        <br><br>
        <textarea placeholder="write your post"name="content"></textarea>
        <br><br>
        <button type="submit">Submit Post</button>
    </form>
    <br>
    <a href="http://localhost:8080/posts/">Cancel new post.</a>
</body>
</html>