<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is a homepage :)</h1>
    <h3>12 + 12 = <%=["First","second",12, "third"][1]%></h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa accusamus sit, placeat, et cupiditate expedita tempora fugiat sequi soluta iste, natus nulla voluptates mollitia rem voluptate temporibus fugit numquam eaque hic reprehenderit. Asperiores optio, quia harum, dolorum, impedit facilis nostrum amet eius tempora laborum molestias rerum tempore quas fugit aspernatur?</p>
    <button>Click Me</button>
</body>
</html>