.card{
    width:300px;
    border:2px solid black;
    /* display:inline-flex;
    flex-direction:column; */
    /* align-items:center; */
    border-radius:20px;
    padding:10px;
}
img{
    width:100%;
    border-radius:20px 20px 20px 20px;
}
#pets{
    display:flex;
    justify-content:space-evenly;

}
@media (max-width:680px){
    #pets{
       flex-wrap: wrap;
       gap:20px;
    }
    .card{
        flex-basis:300px;
    }
}
span{
    color:gold;
}
h2{
    color:red;
}
h4{
    text-align:center;
}