/* div div{
   height:100px;
   width:100px;
   background-color:green;
   display:inline-block;
   margin:1rem;
   border:2px black solid;
   opacity:1;
   box-shadow:4px 4px black;
}
#outer{
   background-color: pink;
   display:flex;
}
@media(orientation:portrait){
   #outer{
      flex-direction: column;
   }
} */
 /* form{
   margin-left:12px;
 }
 div{
   height:100px;
   width:100px;
   background-color: pink;
   margin:20px;
 } */