div{
    height:100px;
    width:100px;
    background-color:black;
    margin:20px;
    display:inline-block;
}
#static{
    position:static;
    top:50px;                       /* No Effect */
    left:100px;
    background-color: aqua;
}

#relative{
    position:relative;
    background-color: yellow;
}
#absolute{
    background-color:pink;
    position:absolute;
    top:10px;
    left: 30px;
}
#fixed{
    background-color: red;
    position: fixed;
    top:10px;
    left:300px;
}
/* section{
    border:black double 2px;
    position:relative;
} */